@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(
    to bottom right,
    #fdf2f8,
    #eef2ff,
    #ecfeff
  );
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}